.github/issue-evidence/12362-lifeops-live/live-workflow-action-executions.report.json
{
  "runId": "0ec8e98f-ae83-46d9-a69b-afe103688c47",
  "startedAtIso": "2026-07-04T05:12:28.605Z",
  "completedAtIso": "2026-07-04T05:12:38.956Z",
  "providerName": "openai",
  "scenarios": [
    {
      "id": "live-workflow-action-executions",
      "title": "Live model routes a request to the WORKFLOW executions op",
      "domain": "scenario-runner",
      "tags": [
        "live",
        "workflow",
        "action-routing",
        "12362"
      ],
      "status": "passed",
      "durationMs": 5008,
      "turns": [
        {
          "name": "user asks for the workflow's recent runs",
          "kind": "message",
          "text": "Can you check my \"Morning digest\" workflow and tell me its most recent runs?",
          "responseText": "The “Morning digest” workflow (ID `live-workflow-action-executions`) has one recent execution:\n\n- **Run ID:** 7b40b8f0‑7c04‑456e‑9225‑9d44dd79e4d3  \n- **Start time:** 2026‑07‑04 05:12:33.694 UTC  \n- **Finish time:** 2026‑07‑04 05:12:34.744 UTC  \n- **Status:** `success` (run completed)  \n- **Mode:** `manual`  \n- **Result details:** The workflow set a “digest” value to `sent` at 2026‑07‑04T05:12:34.691 UTC (triggered manually).",
          "actionsCalled": [
            {
              "actionName": "WORKFLOW",
              "parameters": {
                "parameters": {
                  "action": "executions",
                  "workflowId": "live-workflow-action-executions",
                  "limit": 5
                },
                "actionContext": {
                  "previousResults": []
                }
              },
              "result": {
                "success": true,
                "data": {
                  "executions": [
                    {
                      "id": "7b40b8f0-7c04-456e-9225-9d44dd79e4d3",
                      "data": {
                        "resultData": {
                          "engine": {
                            "nodes": 2,
                            "failed": 0,
                            "levels": 2,
                            "retries": 0,
                            "skipped": 0,
                            "started": 2,
                            "finished": 2,
                            "provider": "smithers",
                            "maxConcurrency": 1
                          },
                          "runData": {
                            "Set": [
                              {
                                "data": {
                                  "main": [
                                    [
                                      {
                                        "json": {
                                          "digest": "sent",
                                          "firedAt": "2026-07-04T05:12:34.691Z",
                                          "trigger": "manual"
                                        },
                                        "pairedItem": {
                                          "item": 0
                                        }
                                      }
                                    ]
                                  ]
                                },
                                "source": [
                                  {
                                    "previousNode": "Manual Trigger",
                                    "previousNodeRun": 0,
                                    "previousNodeOutput": 0
                                  }
                                ],
                                "startTime": 1783141954719,
                                "executionTime": 1
                              }
                            ],
                            "Manual Trigger": [
                              {
                                "data": {
                                  "main": [
                                    [
                                      {
                                        "json": {
                                          "firedAt": "2026-07-04T05:12:34.691Z",
                                          "trigger": "manual"
                                        }
                                      }
                                    ]
                                  ]
                                },
                                "source": [],
                                "startTime": 1783141954690,
                                "executionTime": 1
                              }
                            ]
                          },
                          "lastNodeExecuted": "Set"
                        }
                      },
                      "mode": "manual",
                      "status": "success",
                      "finished": true,
                      "startedAt": "2026-07-04T05:12:33.694Z",
                      "stoppedAt": "2026-07-04T05:12:34.744Z",
                      "workflowId": "live-workflow-action-executions"
                    }
                  ]
                },
                "values": {
                  "workflowId": "live-workflow-action-executions",
                  "count": 1
                },
                "text": "Fetched 1 executions for workflow live-workflow-action-executions.",
                "raw": {
                  "success": true,
                  "text": "Fetched 1 executions for workflow live-workflow-action-executions.",
                  "values": {
                    "workflowId": "live-workflow-action-executions",
                    "count": 1
                  },
                  "data": {
                    "executions": [
                      {
                        "id": "7b40b8f0-7c04-456e-9225-9d44dd79e4d3",
                        "data": {
                          "resultData": {
                            "engine": {
                              "nodes": 2,
                              "failed": 0,
                              "levels": 2,
                              "retries": 0,
                              "skipped": 0,
                              "started": 2,
                              "finished": 2,
                              "provider": "smithers",
                              "maxConcurrency": 1
                            },
                            "runData": {
                              "Set": [
                                {
                                  "data": {
                                    "main": [
                                      [
                                        {
                                          "json": {
                                            "digest": "sent",
                                            "firedAt": "2026-07-04T05:12:34.691Z",
                                            "trigger": "manual"
                                          },
                                          "pairedItem": {
                                            "item": 0
                                          }
                                        }
                                      ]
                                    ]
                                  },
                                  "source": [
                                    {
                                      "previousNode": "Manual Trigger",
                                      "previousNodeRun": 0,
                                      "previousNodeOutput": 0
                                    }
                                  ],
                                  "startTime": 1783141954719,
                                  "executionTime": 1
                                }
                              ],
                              "Manual Trigger": [
                                {
                                  "data": {
                                    "main": [
                                      [
                                        {
                                          "json": {
                                            "firedAt": "2026-07-04T05:12:34.691Z",
                                            "trigger": "manual"
                                          }
                                        }
                                      ]
                                    ]
                                  },
                                  "source": [],
                                  "startTime": 1783141954690,
                                  "executionTime": 1
                                }
                              ]
                            },
                            "lastNodeExecuted": "Set"
                          }
                        },
                        "mode": "manual",
                        "status": "success",
                        "finished": true,
                        "startedAt": "2026-07-04T05:12:33.694Z",
                        "stoppedAt": "2026-07-04T05:12:34.744Z",
                        "workflowId": "live-workflow-action-executions"
                      }
                    ]
                  }
                }
              }
            }
          ],
          "durationMs": 3850,
          "failedAssertions": []
        }
      ],
      "finalChecks": [
        {
          "label": "actionCalled",
          "type": "actionCalled",
          "status": "passed",
          "detail": "WORKFLOW succeeded 1x (1 total call(s))"
        },
        {
          "label": "the seeded execution is retained and readable through the real service",
          "type": "custom",
          "status": "passed",
          "detail": "predicate returned undefined"
        }
      ],
      "actionsCalled": [
        {
          "actionName": "WORKFLOW",
          "parameters": {
            "parameters": {
              "action": "executions",
              "workflowId": "live-workflow-action-executions",
              "limit": 5
            },
            "actionContext": {
              "previousResults": []
            }
          },
          "result": {
            "success": true,
            "data": {
              "executions": [
                {
                  "id": "7b40b8f0-7c04-456e-9225-9d44dd79e4d3",
                  "data": {
                    "resultData": {
                      "engine": {
                        "nodes": 2,
                        "failed": 0,
                        "levels": 2,
                        "retries": 0,
                        "skipped": 0,
                        "started": 2,
                        "finished": 2,
                        "provider": "smithers",
                        "maxConcurrency": 1
                      },
                      "runData": {
                        "Set": [
                          {
                            "data": {
                              "main": [
                                [
                                  {
                                    "json": {
                                      "digest": "sent",
                                      "firedAt": "2026-07-04T05:12:34.691Z",
                                      "trigger": "manual"
                                    },
                                    "pairedItem": {
                                      "item": 0
                                    }
                                  }
                                ]
                              ]
                            },
                            "source": [
                              {
                                "previousNode": "Manual Trigger",
                                "previousNodeRun": 0,
                                "previousNodeOutput": 0
                              }
                            ],
                            "startTime": 1783141954719,
                            "executionTime": 1
                          }
                        ],
                        "Manual Trigger": [
                          {
                            "data": {
                              "main": [
                                [
                                  {
                                    "json": {
                                      "firedAt": "2026-07-04T05:12:34.691Z",
                                      "trigger": "manual"
                                    }
                                  }
                                ]
                              ]
                            },
                            "source": [],
                            "startTime": 1783141954690,
                            "executionTime": 1
                          }
                        ]
                      },
                      "lastNodeExecuted": "Set"
                    }
                  },
                  "mode": "manual",
                  "status": "success",
                  "finished": true,
                  "startedAt": "2026-07-04T05:12:33.694Z",
                  "stoppedAt": "2026-07-04T05:12:34.744Z",
                  "workflowId": "live-workflow-action-executions"
                }
              ]
            },
            "values": {
              "workflowId": "live-workflow-action-executions",
              "count": 1
            },
            "text": "Fetched 1 executions for workflow live-workflow-action-executions.",
            "raw": {
              "success": true,
              "text": "Fetched 1 executions for workflow live-workflow-action-executions.",
              "values": {
                "workflowId": "live-workflow-action-executions",
                "count": 1
              },
              "data": {
                "executions": [
                  {
                    "id": "7b40b8f0-7c04-456e-9225-9d44dd79e4d3",
                    "data": {
                      "resultData": {
                        "engine": {
                          "nodes": 2,
                          "failed": 0,
                          "levels": 2,
                          "retries": 0,
                          "skipped": 0,
                          "started": 2,
                          "finished": 2,
                          "provider": "smithers",
                          "maxConcurrency": 1
                        },
                        "runData": {
                          "Set": [
                            {
                              "data": {
                                "main": [
                                  [
                                    {
                                      "json": {
                                        "digest": "sent",
                                        "firedAt": "2026-07-04T05:12:34.691Z",
                                        "trigger": "manual"
                                      },
                                      "pairedItem": {
                                        "item": 0
                                      }
                                    }
                                  ]
                                ]
                              },
                              "source": [
                                {
                                  "previousNode": "Manual Trigger",
                                  "previousNodeRun": 0,
                                  "previousNodeOutput": 0
                                }
                              ],
                              "startTime": 1783141954719,
                              "executionTime": 1
                            }
                          ],
                          "Manual Trigger": [
                            {
                              "data": {
                                "main": [
                                  [
                                    {
                                      "json": {
                                        "firedAt": "2026-07-04T05:12:34.691Z",
                                        "trigger": "manual"
                                      }
                                    }
                                  ]
                                ]
                              },
                              "source": [],
                              "startTime": 1783141954690,
                              "executionTime": 1
                            }
                          ]
                        },
                        "lastNodeExecuted": "Set"
                      }
                    },
                    "mode": "manual",
                    "status": "success",
                    "finished": true,
                    "startedAt": "2026-07-04T05:12:33.694Z",
                    "stoppedAt": "2026-07-04T05:12:34.744Z",
                    "workflowId": "live-workflow-action-executions"
                  }
                ]
              }
            }
          }
        }
      ],
      "failedAssertions": [],
      "providerName": "openai"
    }
  ],
  "totals": {
    "passed": 1,
    "failed": 0,
    "skipped": 0,
    "flakyPassed": 0,
    "costUsd": 0,
    "finalChecksSkipped": 0
  },
  "totalCount": 1,
  "passedCount": 1,
  "failedCount": 0,
  "skippedCount": 0,
  "flakyPassedCount": 0,
  "totalCostUsd": 0,
  "artifactPaths": {
    "runDir": "/Users/shawwalters/eliza-workspace/milady/eliza/.claude/worktrees/vigilant-moser-707cf0/reports/scenarios/live-12362",
    "matrixJson": "/Users/shawwalters/eliza-workspace/milady/eliza/.claude/worktrees/vigilant-moser-707cf0/reports/scenarios/live-12362/matrix.json",
    "viewerIndex": "/Users/shawwalters/eliza-workspace/milady/eliza/.claude/worktrees/vigilant-moser-707cf0/reports/scenarios/live-12362/viewer/index.html",
    "viewerData": "/Users/shawwalters/eliza-workspace/milady/eliza/.claude/worktrees/vigilant-moser-707cf0/reports/scenarios/live-12362/viewer/data.js"
  }
}